In [72]:
import pandas as pd
import os
import unicodedata

## 2022-23

In [56]:
# Understat_ID,FPL_ID,Understat_Name,FPL_Name

path = './data/2023-24/understat/'

under_player_names = next(os.walk((path), (None, None, [])))[2]

understat_names = []

for player in under_player_names:
    splits = player.split('_')
    under_id = splits[-1].split('.')[0]
    under_name = ' '.join(splits[:-1])

    understat_names.append({'Understat_ID': under_id, 'Understat_Name': under_name})

pd.DataFrame(understat_names).to_csv('./data/under_names_23_24.csv', index_label=False)

In [57]:
# print('====> Starting to add difficulty features to 20'+season)

# Understat_ID,FPL_ID,Understat_Name,FPL_Name

path = './data/2023-24/players/'

# player_names = next(os.walk((path), (None, None, [])))[2]
fpl_player_names = [ f.path.split('/')[-1] for f in os.scandir(path) if f.is_dir() ]


fpl_names = []

for player in fpl_player_names:
    splits = player.split('_')
    fpl_id = splits[-1].split('.')[0]
    fpl_name = ' '.join(splits[:-1])

    fpl_names.append({'FPL_ID': fpl_id, 'FPL_Name': fpl_name})

pd.DataFrame(fpl_names).to_csv('./data/fpl_names_23_24.csv', index_label=False)

## 2023-24

In [58]:
# Understat_ID,FPL_ID,Understat_Name,FPL_Name

path = './data/2022-23/understat/'

under_player_names = next(os.walk((path), (None, None, [])))[2]

understat_names = []

for player in under_player_names:
    splits = player.split('_')
    under_id = splits[-1].split('.')[0]
    under_name = ' '.join(splits[:-1])

    understat_names.append({'Understat_ID': under_id, 'Understat_Name': under_name})

pd.DataFrame(understat_names).to_csv('./data/under_names_22_23.csv', index_label=False)

In [59]:
# print('====> Starting to add difficulty features to 20'+season)

# Understat_ID,FPL_ID,Understat_Name,FPL_Name
path = './data/2022-23/players/'

# player_names = next(os.walk((path), (None, None, [])))[2]
fpl_player_names = [ f.path.split('/')[-1] for f in os.scandir(path) if f.is_dir() ]


fpl_names = []

for player in fpl_player_names:
    splits = player.split('_')
    fpl_id = splits[-1].split('.')[0]
    fpl_name = ' '.join(splits[:-1])

    fpl_names.append({'FPL_ID': fpl_id, 'FPL_Name': fpl_name})

pd.DataFrame(fpl_names).to_csv('./data/fpl_names_22_23.csv',index_label=False)

## 2024-25

In [60]:
# Understat_ID,FPL_ID,Understat_Name,FPL_Name

path = './data/2024-25/understat/'

under_player_names = next(os.walk((path), (None, None, [])))[2]

understat_names = []

for player in under_player_names:
    splits = player.split('_')
    under_id = splits[-1].split('.')[0]
    under_name = ' '.join(splits[:-1])

    understat_names.append({'Understat_ID': under_id, 'Understat_Name': under_name})

pd.DataFrame(understat_names).to_csv('./data/under_names_24_25.csv', index_label=False)

In [61]:
# print('====> Starting to add difficulty features to 20'+season)

# Understat_ID,FPL_ID,Understat_Name,FPL_Name

path = './data/2024-25/players/'

# player_names = next(os.walk((path), (None, None, [])))[2]
fpl_player_names = [ f.path.split('/')[-1] for f in os.scandir(path) if f.is_dir() ]

fpl_names = []

for player in fpl_player_names:
    splits = player.split('_')
    fpl_id = splits[-1].split('.')[0]
    fpl_name = ' '.join(splits[:-1])

    fpl_names.append({'FPL_ID': fpl_id, 'FPL_Name': fpl_name})

pd.DataFrame(fpl_names).to_csv('./data/fpl_names_24_25.csv')

## Merge

### 2022_23

In [139]:
fpl_22_23 = pd.read_csv('./data/fpl_names_22_23.csv')
under_22_23 = pd.read_csv('./data/under_names_22_23.csv')

def add_under(row):
    for player in under_22_23:
        if not under_22_23[under_22_23['Understat_Name'] == row['FPL_Name']].empty:
            Understat_Name = under_22_23[under_22_23['Understat_Name'] == row['FPL_Name']].iloc[0,1]
            Understat_ID = under_22_23[under_22_23['Understat_Name'] == row['FPL_Name']].iloc[0,0]

            return pd.Series([Understat_ID, Understat_Name])
        else:
            return pd.Series([None, None])

fpl_22_23[['Understat_ID', 'Understat_Name']] = fpl_22_23.apply(add_under, axis=1)

fpl_22_23.to_csv('./data/merged_names_22_23.csv_', index_label=False)

In [ ]:
da_22_23 = pd.read_csv('./data/merged_names_22_23.csv')
da_22_23

In [ ]:
bool_series = pd.isnull(da_22_23["Understat_Name"])
missing_names = da_22_23[bool_series]

missing_names.to_csv('./data/missing_names_22_23.csv_')

In [179]:
added = pd.read_csv('./data/missing_names_22_23.csv')
added_names = added[pd.notnull(added['Understat_Name'])]

original_names =da_22_23[pd.notnull(da_22_23['Understat_Name'])]

print(added_names.shape, original_names.shape)

(110, 6) (434, 5)

In [ ]:
player_id_dict = pd.concat([original_names, added_names])[['FPL_ID', 'FPL_Name', 'Understat_ID', 'Understat_Name']]

In [ ]:
player_id_dict.to_csv('./data/id_dict_22_23.csv_', index_label=False)

### 2023-24

In [166]:

fpl_23_24 = pd.read_csv('./data/fpl_names_23_24.csv')
under_23_24 = pd.read_csv('./data/under_names_23_24.csv')

def add_under(row):
    for player in under_23_24:
        if not under_23_24[under_23_24['Understat_Name'] == row['FPL_Name']].empty:
            Understat_Name = under_23_24[under_23_24['Understat_Name'] == row['FPL_Name']].iloc[0,1]
            Understat_ID = under_23_24[under_23_24['Understat_Name'] == row['FPL_Name']].iloc[0,0]

            return pd.Series([Understat_ID, Understat_Name])
        else:
            return pd.Series([None, None])

fpl_23_24[['Understat_ID', 'Understat_Name']] = fpl_23_24.apply(add_under, axis=1)

fpl_23_24.to_csv('./data/merged_names_23_24.csv_')

In [167]:
da_23_24 = pd.read_csv('./data/merged_names_23_24.csv')
da_23_24

,Unnamed: 0,FPL_ID,FPL_Name,Understat_ID,Understat_Name
0,0,127,Aaron Connolly,NaN,NaN
1,1,530,Aaron Cresswell,534.0,Aaron Cresswell
2,2,104,Aaron Hickey,8942.0,Aaron Hickey
3,3,17,Aaron Ramsdale,5603.0,Aaron Ramsdale
4,4,675,Aaron Ramsey,9913.0,Aaron Ramsey
...,...,...,...,...,...
864,864,859,Zak Sturge,NaN,NaN
865,865,594,Zeki Amdouni,11701.0,Zeki Amdouni
866,866,380,Álvaro Fernández Carreras,NaN,NaN
867,867,589,Ângelo Gabriel Borges Damaceno,NaN,NaN
868,868,687,Đorđe Petrović,NaN,NaN

In [168]:

bool_series_23_24 = pd.isnull(da_23_24["Understat_Name"])
missing_names = da_23_24[bool_series_23_24]

missing_names.to_csv('./data/missing_names_23_24.csv_')

In [172]:
added = pd.read_csv('./data/missing_names_23_24.csv')
added_names = added[pd.notnull(added['Understat_Name'])]

original_names =da_23_24[pd.notnull(da_23_24['Understat_Name'])]

print(added_names.shape, original_names.shape)

(116, 6) (497, 5)

In [173]:
player_id_dict = pd.concat([original_names, added_names])[['FPL_ID', 'FPL_Name', 'Understat_ID', 'Understat_Name']]

In [174]:
player_id_dict.to_csv('./data/id_dict_23_24.csv_', index_label=False)

### 2024-25

In [175]:

fpl_24_25 = pd.read_csv('./data/fpl_names_24_25.csv')
under_24_25 = pd.read_csv('./data/under_names_24_25.csv')

def add_under(row):
    for player in under_24_25:
        if not under_24_25[under_24_25['Understat_Name'] == row['FPL_Name']].empty:
            Understat_Name = under_24_25[under_24_25['Understat_Name'] == row['FPL_Name']].iloc[0,1]
            Understat_ID = under_24_25[under_24_25['Understat_Name'] == row['FPL_Name']].iloc[0,0]

            return pd.Series([Understat_ID, Understat_Name])
        else:
            return pd.Series([None, None])

fpl_24_25[['Understat_ID', 'Understat_Name']] = fpl_24_25.apply(add_under, axis=1)

fpl_24_25.to_csv('./data/merged_names_24_25.csv_')

In [176]:
da_24_25 = pd.read_csv('./data/merged_names_24_25.csv')
da_24_25

,Unnamed: 0,FPL_ID,FPL_Name,Understat_ID,Understat_Name
0,0,517,Aaron Cresswell,534.0,Aaron Cresswell
1,1,93,Aaron Hickey,8942.0,Aaron Hickey
2,2,14,Aaron Ramsdale,5603.0,Aaron Ramsdale
3,3,388,Aaron Wan-Bissaka,5584.0,Aaron Wan-Bissaka
4,4,217,Abdoulaye Doucouré,1726.0,Abdoulaye Doucouré
...,...,...,...,...,...
704,704,676,Zach Marsh,NaN,NaN
705,705,26,Álex Moreno Lopera,NaN,NaN
706,706,151,Ângelo Gabriel Borges Damaceno,NaN,NaN
707,707,183,Đorđe Petrović,NaN,NaN
708,708,521,Łukasz Fabiański,NaN,NaN

In [177]:

bool_series = pd.isnull(da_24_25["Understat_Name"])
missing_names = da_24_25[bool_series]

missing_names.to_csv('./data/missing_names_24_25.csv_')

In [184]:
added = pd.read_csv('./data/missing_names_24_25.csv')
added_names = added[pd.notnull(added['Understat_Name'])]

original_names =da_24_25[pd.notnull(da_24_25['Understat_Name'])]

print(added_names.shape, original_names.shape)

(140, 6) (432, 5)

In [185]:
player_id_dict = pd.concat([original_names, added_names])[['FPL_ID', 'FPL_Name', 'Understat_ID', 'Understat_Name']]

In [186]:
player_id_dict.to_csv('./data/id_dict_24_25.csv_', index_label=False)